@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Prata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*após usar https://coolors.co/  para gerar uma paleta de cores*/
:root {
    --blackJack: #101419;
    --bone: #ece3d5;
    --cornellRed: #851A1A;
    --delftBlue: #454372;
    --shamrockGreen: #25681D;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bone);
}

/* CSS MODAL DE DESCRIÇÃO */

.logo {
    width: 330px;
    margin-top: 70px;
    margin-bottom: 10px;
}

#exit-icon {
    position: absolute;
    text-decoration: none;
    color: var(--cornellRed);
    font-size: 33px;
    margin-right: 50px;
    text-shadow: 3px 3px 2.6px rgba(0, 0, 0, 0.15);
    margin-left: 95vw;
    margin-top: 50px;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    background-color: var(--bone);
    height: 100%;
    width: 100%;
    font-family: poppins;
}

.about {
    width: 750px;
    margin-bottom: 55px;
}

h1 {
    color: var(--cornellRed);
    margin-top: 55px;
    margin-bottom: 8px;
    font-size: 25px;
    font-family: prata;
}

span,
li {
    font-size: 17px;
    color: rgb(136, 121, 121);
}

li {
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(171, 168, 168);

}
::-webkit-scrollbar-thumb {
    background: var(--cornellRed);
}