* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--bone);
}

:root {
   --bone: #ece3d5;
   --cornellRed: #b81414;
   --delftBlue: #454372;
   --shamrockGreen: #15a05f;
}

/* font-family: poppins; | font-family: prata; */

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--cornellRed);
}

.logo {
   width: 300px;
   margin-top: -40px;
}

.config {
position: absolute;
font-size: 23px;
margin: 40px;
margin-left: 480px;

}

.button-container {
   display: inline-block;
   text-align: center;
   margin-top: -80px;
   width: 600px;
   height: 380px;
   border-radius: 12px;
   background: rgba(255, 255, 255, 0.2)
}

button {
   padding: 10px 15px;
   cursor: pointer;
   background-color: var(--cornellRed);
   border: none;
   border-radius: 7px;
   margin: 10px;
   margin-top: 37px;
   font-family: poppins;
   font-size: 18px;
   letter-spacing: 0.5px;
}

#timer {
   font-family: prata;
   font-size: 90px;
   margin-top: 40px;
   margin-bottom: -8px;
}

.icone {
   width: 60px;
   font-size: 35px;
}


/* Class pra usar na troca de cor de fundo (beginner/intermediate/advanced) */

.fundoVerde {
   background-color: #15a05f; /*RGB: 21, 160, 95*/
}

.fundoAzul {
   background-color: #454372; /*RGB: 69, 67, 114*/
}

.fundoVermelho {
   background-color:  #b81414; /*RGB: 184, 20, 20*/
}